*{
	margin: 0;
	padding: 0;
}

.wrapper{
	position: relative;
	width:400px;
	height: 400px;
	margin: 50px auto;
}

.title{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 200px;
	font-size: 30px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.btn{
	position: absolute;
	width: 90px;
	height: 30px;
	border: 1px solid #333;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -15px;
	cursor: pointer;
}

.active{
	color: #00f;
}

.dot-left, .dot-right{
	width: 0px;
	height: 5px;
	top: 128px;
	background: #00f;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.dot-left{
	position: absolute;
	left: 50%;
}

.dot-right{
	position: absolute;
	right: 50%;
}

.dot-left-active, .dot-right-active{
	width: 60px;
	height: 5px;
}
